<div id="dd">Dialog Content.</div>
<div id="addnewgrantwin" >

    <div class="easyui-tabs">
        <div title="月发放">
                <table class="formtable grantmoneypersonquery0">
                    <tr>
                       <td>
                           <input placeholder="业务期" name="bsnyue" style="width:100px">
                           <input id="querytype"/>
                           <input name="query_text" type="text" value=""/>
                           <input id="money" placeholder="金额">
                       </td>
                    </tr>
                </table>

            <div class="grantmoneyperson0">
                <div style="clear:both"></div>
                <table name="grid" style="height:250px;"
                       data-options="rownumbers:true,singleSelect:false, method:'post',pagination:true">
                    <thead>
                    <tr>
                        <th data-options="field:'ck',checkbox:true"></th>
                        <th data-options="field:'name',width:60">姓名</th>
                        <th data-options="field:'identityid',width:150">户主身份证</th>
                        <th data-options="field:'money',width:60,editor:'numberbox'">金额</th>
                        <!--<th data-options="field:'madeflag',width:60">到账</th>-->
                    </tr>
                    </thead>
                </table>
            </div>
        </div>


    </div>
</div>