
<div  class="easyui-panel newRadio" opt="formcontentpanel"
      style="overflow-y: scroll;border-bottom: 1px solid greenyellow;"
      data-options="fit:true,border:false">
    <form opt="mainform" method="post">
        <fieldset style="width: 900px;margin: 0px auto;" opt="logout"><legend>注销信息</legend>

            <table class="formtable">

                <tr>
                    <td>注销时间</td>
                    <td colspan="4"><input size="25"></td>
                </tr>

                <tr>
                    <td>注销原因</td>
                    <td colspan="4"><textarea style="width: 99%;height: 50px;" name="shequcomment"></textarea></td>
                </tr>
                <tr>
                    <td>测试</td>
                    <td>
                        <input class="easyui-combobox" name="gender"
                               data-options=" data:cj.getEnum('gender'), editable:false, valueField:'id', textField:'text' ">
                    </td>
                </tr>


            </table>
        </fieldset>
    </form>
</div>

<div opt="form_btns">
    <div style="text-align:center;padding:5px">
        <a action="save">保存</a>
    </div>

</div>