
<!--<div id="EvaluateLrInfo" class="easyui-tabs"
        data-options="tabPosition:'right',fit:true,border:false">


</div>-->


<div style="padding:10px 30px 30px 30px;position: relative;" >
    <div class="wwwy1_blog_hexun_com">
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'" id="save">保存</a>
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存并进行审核</a>
    </div>
    <form id="mainform" method="post">
    </form>
    <br/>
    <br/>
</div>
