
<!--<div id="EvaluateLrInfo" class="easyui-tabs"
        data-options="tabPosition:'right',fit:true,border:false">


</div>-->


<div style="padding:10px 30px 30px 30px;position: relative;" class="newRadio" >
    <div class="wwwy1_blog_hexun_com">
        <a href="#info0">养老人员基本信息</a>
        <a href="#info1">生活自理能力</a>
        <a href="#info2">经济条件</a>
        <a href="#info3">居住环境</a>
        <a href="#info4">年龄情况</a>
        <a href="#info5">特殊贡献</a>
        <a href="#info6">残障情况</a>
        <a href="#info7">住房环境</a>
        <a href="#info8">住房环境</a>
        <a href="#info9">重大疾病</a>

        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'" id="save">保存</a>
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存并进行审核</a>

    </div>
    <!--<div class="xuanfuhtml">
        <ul style="list-style-type:none">
            <li style="width: 80px;"><a href="#info0">养老人员基本信息</a></li>
            <li><a href="#info1">生活自理能力</a></li>
            <li><a href="#info2">经济条件</a></li>
            <li><a href="#info3">居住环境</a></li>
            <li><a href="#info4">年龄情况</a></li>
            <li><a href="#info5">特殊贡献</a></li>
            <li><a href="#info6">残障情况</a></li>
            <li><a href="#info7">住房环境</a></li>
            <li><a href="#info8">住房环境</a></li>
            <li><a href="#info9">重大疾病</a></li>
        </ul>
    </div>-->
    <form id="mainform" method="post">
    </form>
    <br/>
    <br/>
</div>
