

<div  class="easyui-panel newRadio" opt="formcontentpanel"
      style="overflow-y: scroll;"
      data-options="fit:true,border:false">
    <form opt="mainform" method="post">
    </form>
</div>


<div opt="form_btns">
    <!--<ul class="icons" class="ui-widget ui-helper-clearfix">
        <li class="ui-state-default ui-corner-all"><a action="save">保存</a><span class="ui-icon ui-icon-carat-1-n"></span></li>
        <li class="ui-state-default ui-corner-all"><a action="searchlog">查看日志</a><span class="ui-icon ui-icon-carat-1-n"></span></li>
        <li style="width: 300px;"></li>
    </ul>-->

</div>