<fieldset>
    <div id="test">
        <table class="easyui-datagrid" style="width:400px;height:250px"
               data-options="url:'ajax/getLrBasicInfo.jsp',fitColumns:true,singleSelect:true">
            <thead>
            <tr>
                <th data-options="field:'name',width:100">姓名</th>
                <th data-options="field:'peopleid',width:100">身份证号</th>
                <th data-options="field:'place',width:100,align:'right'">住址</th>
            </tr>
            </thead>
        </table>
    </div>

</fieldset>