<table class="easyui-datagrid-noauto"
       data-options="
               method:'post',
               fit:true,border:false,
              pageSize:cj.getDataGridAttr('pageSize'),
               pageList:cj.getDataGridAttr('pageList'),
               singleSelect:true,
               pagination:true">
    <thead data-options="frozen:true">
    <tr>
        <th rowspan="2" data-options="field:'ro',width:80,align:'center',formatter:function(value,rowData,rowIndex)
            {
                var str='<div></div>';
                str=$(str).append('<a action=&quot;logout&quot;>注销</a>');
                return str.html();
            }">操作</th>
        <th rowspan="2" data-options="field:'pg_id'">评估序号</th>
        <!--<th rowspan="2" data-options="field:'active', formatter:cj.enumFormatter('active') ">有效</th>-->
        <th rowspan="2" data-options="field:'name',formatter:function(v,r,i)
            {
                var str='<div></div>';
                str=$(str).append('<a action=&quot;view&quot;>'+v+'</a>');
                return str.html();
            }">姓名</th>
        <th rowspan="2" data-options="field:'identityid'">身份证号码</th>
        <th rowspan="2" data-options="field:'bsnyue'">业务期</th>
        <th rowspan="2" data-options="field:'money'">金额</th>
    </tr>
    </thead>
    <thead>
    <tr>
        <th colspan="4">基本信息</th>
        <th colspan="7">生活方面</th>
    </tr>

    <tr>

        <th data-options="field:'birthd'">出生日期</th>
        <th data-options="field:'gender',formatter:cj.enumFormatter('gender')">性别</th>
        <th data-options="field:'age'">年龄</th>
        <th data-options="field:'nation',formatter:cj.enumFormatter('nation')">民族</th>



        <th data-options="field:'sh_jings'">生活-进食</th>
        <th data-options="field:'sh_yid'">移动</th>
        <th data-options="field:'sh_weis'">个人卫生</th>
        <th data-options="field:'sh_ruc'">入厕</th>
        <th data-options="field:'sh_xiz'">洗澡</th>
        <th data-options="field:'sh_xingz'">行走于平地上</th>
        <th data-options="field:'sh_lout'">上下楼梯</th>

    </tr>
    </thead>
</table>

<div class="businesstb" style="padding:5px;height:auto;vertical-align: middle;">

    时间:
    <a>
        <input class="easyui-datebox bgdate" style="width:90px">至
        <input class="easyui-datebox eddate" style="width:90px">
    </a>
    <a><input placeholder="身份证或姓名"></a>

    <a><span class="icon-search" >&nbsp;&nbsp;&nbsp;&nbsp;</span>搜索</a>
    <a><span class="icon-search" >&nbsp;&nbsp;&nbsp;&nbsp;</span>高级搜索</a>
    <a class="newgrant"><span class="icon-add " >&nbsp;&nbsp;&nbsp;&nbsp;</span>新增</a>


</div>
