<fieldset><legend>生活自理能力</legend>

    <table class="formtable">
        <tbody>
        <tr style="height: 40px;">
            <td style="width: 50px;">评估事项</td>
            <td colspan="4" style="text-align: center;">评估内容</td>
            <td style="width: 50px;">评估分</td>
        </tr>

        <tr style="height: 40px;">
            <td >(1)<br/>进食</td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
        </tr>
        <tr style="height: 40px;">
            <td >(2)<br/>移动</td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
        </tr>
        <tr style="height: 40px;">
            <td >(3)<br/>个人卫生</td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
        </tr>
        <tr>
            <td >(4)<br/>入厕</td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
        </tr>
        <tr>
            <td >(5)<br/>洗澡</td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
        </tr>
        <tr>
            <td >(6)<br/>行走于平地上</td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
        </tr>
        <tr>
            <td >(7)<br/>上下楼梯</td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
        </tr>
        <tr>
            <td >(8)<br/>穿脱衣服</td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
        </tr>

        <tr>
            <td >(9)<br/>大便控制</td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
        </tr>

        <tr>
            <td >(10)<br/>小便控制</td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
        </tr>

        <tr>
            <td >总分</td>
            <td colspan="2"></td>
            <td >评估分</td>
            <td colspan="2"></td>
        </tr>

        <tr>
            <td >结论</td>
            <td colspan="5"></td>
        </tr>
        <tr>
            <td >评估员</td>
            <td colspan="5"></td>
        </tr>
        </tbody>
    </table>
</fieldset>