<fieldset style="width: 800px;margin: 0px auto;"><legend>用户基本信息</legend>
    <div>
        <input type="hidden" name="lr_id">
        <table class="formtable">
            <tr>
                <td class="formtdtext">行政区划:</td>
                <td colspan="3">
                    <input name="registration" class="easyui-combotree" ></td>
                <td rowspan="4" colspan="2" style="text-align: center;" >
                    <img src="img/noperson.gif" id="personimg" alt="用户照片" height="101" width="91"></td>
            </tr>

            <tr>
                <td class="formtdtext">姓名:</td>
                <td><input class="easyui-validatebox" type="text" name="name" data-options="required:true"></td>
                <td class="formtdtext">身份证<span style="color: red">*</span></td>
                <td><input id="identityid" name="identityid" class="easyui-validatebox"
                           data-options="required:true,invalidMessage:'请输入正确的身份证号',validType:'identityid'"></td>


            </tr>

            <tr>
                <td class="formtdtext">性别:</td>
                <td><input class="easyui-combobox lazy-combobox" type="text" searchtype="dbglapplytype"
                           name="applytype"
                           data-options="required:true,valueField: 'value',
                                         textField: 'label' "></td>
                <td class="formtdtext">出生年月:</td>
                <td><input name="birthd"></td>

            </tr>

            <tr>
                <td class="formtdtext">民族:</td>
                <td><input name="nation"></td>
                <td class="formtdtext">文化程度:</td>
                <td><input  type="text" name="accountaddress"></td>
            </tr>
            <tr>
                <td class="formtdtext">籍贯:</td>
                <td><input  type="text" name="accountzipcode" ></td>
                <td class="formtdtext">婚姻状况:</td>
                <td><input  type="text" name="realaddress" ></td>


            </tr>
            <tr>
                <td class="formtdtext">曾从事职业:</td>
                <td><input  type="text" name="telnum" ></td>
                <td class="formtdtext">社保卡号:</td>
                <td><input  type="text" name="telnum" ></td>
            </tr>
            <tr>
                <td class="formtdtext">居住情况:</td>
                <td ><input type="text" name="bankid"></td>
                <td class="formtdtext">经济条件:</td>
                <td ><input type="text" name="bankid"></td>
            </tr>

            <tr>
                <td class="formtdtext">户籍所在地:</td>
                <td ><input type="text" name="bankid"></td>
                <td class="formtdtext">邮编:</td>
                <td ><input type="text" name="bankid"></td>
            </tr>
            <tr>
                <td class="formtdtext">居住地址:</td>
                <td colspan="3"><input type="text" name="bankid" size="50"></td>
            </tr>
            <tr>
                <td class="formtdtext">住宅电话:</td>
                <td ><input type="text" name="bankid"></td>
                <td class="formtdtext">申请人手机:</td>
                <td ><input type="text" name="bankid"></td>
            </tr>

        </table>
    </div>

</fieldset>