<fieldset style="width: 900px;margin: 0px auto;" id="info4"><legend>年龄情况</legend>
    <table class="formtable">
        <tr>
            <td rowspan="2">年龄情况</td>
            <td>出生日期:
                <input opt="csrq" name="chushengriqi"/>
            </td>
            <td opt="textymd">__年__月__日(以身份证为准)</td>
        </tr>
        <tr>
            <td>现有年龄:<input size="1" class="pingfen" opt="xynl"></td>
            <td>
                <ul style="list-style-type:none">
                    <li><span style="width: 100px;">1. 60-79&nbsp;&nbsp;</span><input name="nl_fenl" type="radio" value="0" /><label>0分</label></li>
                    <li><span style="width: 100px;">2. 80-89&nbsp;&nbsp;</span><input name="nl_fenl" type="radio" value="5" /><label>5分</label></li>
                    <li><span style="width: 100px;">3. 90以上</span><input name="nl_fenl" type="radio" value="10" /><label>10分</label></li>
                </ul>
            </td>

        </tr>


        <tr><td>评分</td>
            <td colspan="3">
                <input name="nl_pingguf">
            </td>
        </tr>

    </table>
</fieldset>