<fieldset style="width: 900px;margin: 0px auto;" id="info5"><legend>特殊贡献</legend>
    <table class="formtable">
        <tr>
            <td>特殊贡献</td>
            <td>
                <ul style="list-style-type:none">
                    <li><span style="width: 100px;">1. 市级以上劳模</span><input name="gx_laom" type="checkbox" value="10" /><label>10分</label></li>
                    <li><span style="width: 100px;">2. 重点优抚对象</span><input name="gx_youf" type="checkbox" value="10" /><label>10分</label></li>
                    <li><span style="width: 100px;">2. 纯居干&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span><input name="gx_chunjg" type="checkbox" value="10" /><label>10分</label></li>
                    <li><span style="width: 100px;">3. 离休干部&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span><input name="gx_ganb" type="checkbox" value="10" /><label>10分</label></li>
                </ul>
            </td>

        </tr>


        <tr><td>评分</td>
            <td>
                <input name="gx_pingguf">
            </td>
        </tr>
        <tr><td>评估员</td>
            <td>
                <input name="gx_pingguy">
            </td>
        </tr>

    </table>
</fieldset>