<fieldset style="width: 1024px;margin: 0px auto;"><legend>评估报告三:评估报告确认</legend>

    <table class="formtable" style="width:1024px;">
        <tbody>
        <tr>
            <td style="width:255px;">评估编号</td>
            <td style="width:255px;"><input></td>
            <td style="width:255px;">完成日期</td>
            <td style="width:255px;"><input></td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr style="height: 20px;">
                        <td rowspan="4">评估员确认完成</td>
                        <td>姓名</td>
                    </tr>
                    <tr style="height: 20px;"> <td>联网电话</td> </tr>
                    <tr style="height: 20px;"> <td>所属单位</td> </tr>
                    <tr style="height: 20px;"> <td>评估分值</td> </tr>
                </table>
            </td>
            <td colspan="3" >
                <table style="margin-left: 0px;">
                    <tr><td style="width:250px;"><input size="20"></td>
                        <td colspan="2" rowspan="2" style="width:500px;">
                            <table>
                                <tr><td rowspan="3" style="width: 250px;">确认完成</td>
                                    <td><input type="radio" name="sex" value="1">首次评估</td></tr>
                                <tr><td><input type="radio" name="sex" value="2">复检评估</td></tr>
                                <tr><td><input type="radio" name="sex" value="3">变更评估</td></tr>
                            </table>
                        </td>
                    </tr>
                    <tr><td><input size="20"></td></tr>
                    <tr><td colspan="3"><input size="60"></td></tr>
                    <tr><td><input size="20"></td>
                        <td>
                            建议服务时间
                        </td>
                        <td>
                            <input>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td>社区意见</td>
            <td colspan="3">
                <textarea name="message" style="height:60px;width: 90%"></textarea>
            </td>
        </tr>
        </tbody>
    </table>
</fieldset>