<fieldset ><legend>评估报告一:评估总分计算</legend>

    <table class="formtable" style="width:100%">
        <tbody><tr>
            <td colspan="2">主要参数</td>

            <td>评估分值</td>
        </tr>
        <tr>
            <td>评估分值1</td>
            <td>生活处理能力</td>
            <td>32.5分</td>
        </tr>
        <tr>
            <td>评估分值2</td>
            <td>居住环境</td>
            <td>15分</td>
        </tr>
        <tr>
            <td>评估分值3</td>
            <td>经济条件</td>
            <td>20分</td>
        </tr>
        <tr>
            <td>附加分值1</td>
            <td>认知能力</td>
            <td>0分</td>
        </tr>
        <tr>
            <td>附加分值2</td>
            <td>年龄情况</td>
            <td>10分</td>
        </tr>
        <tr>
            <td>附加分值3</td>
            <td>特殊贡献</td>
            <td>0分</td>
        </tr>
        <tr>
            <td>评估总分</td>
            <td>评估分值1+评估分值2+评估分值3<br>+附加分值1+附加分值2+附加分值3</td>
            <td>77.5分</td>
        </tr>
        <tr>
            <td>建议服务标准</td>
            <td colspan="2">6小时</td>
        </tr>
        <tr>
            <td>备注</td>
            <td colspan="2">
                <textarea name="message" style="height:60px;width: 90%"></textarea>
            </td>
        </tr>
        </tbody>
    </table>
</fieldset>