.icon-excel{
    background:url('../../img/xls.png') no-repeat;
}
.icon-processbtn{
    background:url('../../img/process.png') no-repeat;
}
.icon-save{
    background:url('../../img/save.gif') no-repeat;
}
.icon-log{
    background:url('../../img/application_cascade.png') no-repeat;
}
.icon-remove{
    background:url('../../img/remove.gif') no-repeat;
}
.icon-add{
    background:url('../../img/application_form_add.png') no-repeat;
}
.icon-search{
    background:url('../../img/zoom.png') no-repeat;
}
.icon-edit{
    background:url("../../img/table_edit.png")   no-repeat;
}
.icon-editsave{
    background: url("../../img/page_edit.png") no-repeat;
}